In [165]:
# The code was removed by Watson Studio for sharing.

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,Skin,DiabetesPedigreeFunction,Age,DiabetesDiagnosis
0,6,148,72,35,0,33.6,35,0.627,50,yes
1,1,85,66,29,0,26.6,29,0.351,31,no
2,8,183,64,0,0,23.3,0,0.672,32,yes
3,1,89,66,23,94,28.1,23,0.167,21,no
4,0,137,40,35,168,43.1,35,2.288,33,yes
5,5,116,74,0,0,25.6,0,0.201,30,no
6,3,78,50,32,88,31.0,32,0.248,26,yes
7,10,115,0,0,0,35.3,0,0.134,29,no
8,2,197,70,45,543,30.5,45,0.158,53,yes
9,8,125,96,0,0,0.0,0,0.232,54,yes

In [166]:
df.shape

(769, 10)

In [167]:
# mark zero values as missing or NaN
df = df.replace(0, numpy.NaN)
# fill missing values with mean column values
df.fillna(df.mean(), inplace=True)
# count the number of NaN values in each column
print(df.isnull().sum())

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
Skin                        0
DiabetesPedigreeFunction    0
Age                         0
DiabetesDiagnosis           0
dtype: int64

In [164]:
df.head(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,Skin,DiabetesPedigreeFunction,Age,DiabetesDiagnosis
0,6.000000,148.0,72.000000,35.000000,155.379747,33.600000,35.000000,0.627,50,yes
1,1.000000,85.0,66.000000,29.000000,155.379747,26.600000,29.000000,0.351,31,no
2,8.000000,183.0,64.000000,29.164207,155.379747,23.300000,29.164207,0.672,32,yes
3,1.000000,89.0,66.000000,23.000000,94.000000,28.100000,23.000000,0.167,21,no
4,4.490881,137.0,40.000000,35.000000,168.000000,43.100000,35.000000,2.288,33,yes
5,5.000000,116.0,74.000000,29.164207,155.379747,25.600000,29.164207,0.201,30,no
6,3.000000,78.0,50.000000,32.000000,88.000000,31.000000,32.000000,0.248,26,yes
7,10.000000,115.0,72.384196,29.164207,155.379747,35.300000,29.164207,0.134,29,no
8,2.000000,197.0,70.000000,45.000000,543.000000,30.500000,45.000000,0.158,53,yes
9,8.000000,125.0,96.000000,29.164207,155.379747,32.443404,29.164207,0.232,54,yes

In [144]:
df.isnull().values.any()

False

In [145]:
df.corr()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,Skin,DiabetesPedigreeFunction,Age
Pregnancies,1.000000,0.154972,0.260083,0.131059,0.068677,0.111976,0.131059,-0.004637,0.512118
Glucose,0.154972,1.000000,0.219305,0.192242,0.420629,0.232015,0.192242,0.137858,0.267034
BloodPressure,0.260083,0.219305,1.000000,0.191525,0.073559,0.283093,0.191525,-0.001156,0.325326
SkinThickness,0.131059,0.192242,0.191525,1.000000,0.157349,0.540005,1.000000,0.099964,0.127312
Insulin,0.068677,0.420629,0.073559,0.157349,1.000000,0.167927,0.157349,0.099673,0.137139
BMI,0.111976,0.232015,0.283093,0.540005,0.167927,1.000000,0.540005,0.154999,0.026890
Skin,0.131059,0.192242,0.191525,1.000000,0.157349,0.540005,1.000000,0.099964,0.127312
DiabetesPedigreeFunction,-0.004637,0.137858,-0.001156,0.099964,0.099673,0.154999,0.099964,1.000000,0.034402
Age,0.512118,0.267034,0.325326,0.127312,0.137139,0.026890,0.127312,0.034402,1.000000

In [146]:
del df['Skin']

In [147]:
df.shape

(769, 9)

In [148]:
df.head(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,DiabetesDiagnosis
0,6.000000,148.0,72.000000,35.000000,155.379747,33.600000,0.627,50,yes
1,1.000000,85.0,66.000000,29.000000,155.379747,26.600000,0.351,31,no
2,8.000000,183.0,64.000000,29.164207,155.379747,23.300000,0.672,32,yes
3,1.000000,89.0,66.000000,23.000000,94.000000,28.100000,0.167,21,no
4,4.490881,137.0,40.000000,35.000000,168.000000,43.100000,2.288,33,yes
5,5.000000,116.0,74.000000,29.164207,155.379747,25.600000,0.201,30,no
6,3.000000,78.0,50.000000,32.000000,88.000000,31.000000,0.248,26,yes
7,10.000000,115.0,72.384196,29.164207,155.379747,35.300000,0.134,29,no
8,2.000000,197.0,70.000000,45.000000,543.000000,30.500000,0.158,53,yes
9,8.000000,125.0,96.000000,29.164207,155.379747,32.443404,0.232,54,yes

In [149]:
diabetes_map = {'yes':1, 'no':0}
df['DiabetesDiagnosis'] = df['DiabetesDiagnosis'].map(diabetes_map)

In [150]:
df.head(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,DiabetesDiagnosis
0,6.000000,148.0,72.000000,35.000000,155.379747,33.600000,0.627,50,1
1,1.000000,85.0,66.000000,29.000000,155.379747,26.600000,0.351,31,0
2,8.000000,183.0,64.000000,29.164207,155.379747,23.300000,0.672,32,1
3,1.000000,89.0,66.000000,23.000000,94.000000,28.100000,0.167,21,0
4,4.490881,137.0,40.000000,35.000000,168.000000,43.100000,2.288,33,1
5,5.000000,116.0,74.000000,29.164207,155.379747,25.600000,0.201,30,0
6,3.000000,78.0,50.000000,32.000000,88.000000,31.000000,0.248,26,1
7,10.000000,115.0,72.384196,29.164207,155.379747,35.300000,0.134,29,0
8,2.000000,197.0,70.000000,45.000000,543.000000,30.500000,0.158,53,1
9,8.000000,125.0,96.000000,29.164207,155.379747,32.443404,0.232,54,1

In [151]:
from sklearn.cross_validation import train_test_split

feature_col_names = ['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI', 'DiabetesPedigreeFunction', 'Age']
predicted_class_names = ['DiabetesDiagnosis']

X = df[feature_col_names].values
y = df[predicted_class_names].values
split_val_size = 0.25

X_train, X_val, y_train, y_val = train_test_split(X,y,test_size=split_val_size,random_state=42)

In [152]:
num_obs = len(df)
num_true = len(df.loc[df['DiabetesDiagnosis']==1])
num_false = len(df.loc[df['DiabetesDiagnosis']==0])

print("number of obs: {0} ({1:2.2f}%)".format(num_obs, (num_obs/num_obs)*100))
print("number of True cases: {0} ({1:2.2f}%)".format(num_true, (num_true/num_obs)*100))
print("number of False cases: {0} ({1:2.2f}%)".format(num_false, (num_false/num_obs)*100))
print("")
print("{0:0.2f}% in training set".format((len(X_train)/len(df.index))*100))
print("{0:0.2f}% in validation set".format((len(X_val)/len(df.index))*100))
print("")
print("Original True cases: {0} ({1:2.2f}%)".format(num_true, (num_true/num_obs)*100))
print("Original False cases: {0} ({1:2.2f}%)".format(num_false, (num_false/num_obs)*100))
print("")
print("Training True cases: {0} ({1:2.2f}%)".format(num_true, (num_true/num_obs)*100))
print("Training False cases: {0} ({1:2.2f}%)".format(num_false, (num_false/num_obs)*100))
print("")
print("Training True cases: {0} ({1:2.2f}%)".format(num_true, (num_true/num_obs)*100))
print("Training False cases: {0} ({1:2.2f}%)".format(num_false, (num_false/num_obs)*100))

number of obs: 769 (100.00%)
number of True cases: 268 (34.85%)
number of False cases: 501 (65.15%)

74.90% in training set
25.10% in validation set

Original True cases: 268 (34.85%)
Original False cases: 501 (65.15%)

Training True cases: 268 (34.85%)
Training False cases: 501 (65.15%)

Training True cases: 268 (34.85%)
Training False cases: 501 (65.15%)

In [153]:
print (X_train)

[[   4.          129.           86.         ...,   35.1           0.231
    23.        ]
 [   3.           61.           82.         ...,   34.4           0.243
    46.        ]
 [   2.           81.           72.         ...,   30.1           0.547
    25.        ]
 ...,
 [  10.          101.           86.         ...,   45.6           1.136
    38.        ]
 [   4.49088146  141.           72.38419619 ...,   42.4           0.205
    29.        ]
 [   4.49088146  125.           96.         ...,   22.5           0.262
    21.        ]]

In [154]:
df.head(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,DiabetesDiagnosis
0,6.000000,148.0,72.000000,35.000000,155.379747,33.600000,0.627,50,1
1,1.000000,85.0,66.000000,29.000000,155.379747,26.600000,0.351,31,0
2,8.000000,183.0,64.000000,29.164207,155.379747,23.300000,0.672,32,1
3,1.000000,89.0,66.000000,23.000000,94.000000,28.100000,0.167,21,0
4,4.490881,137.0,40.000000,35.000000,168.000000,43.100000,2.288,33,1
5,5.000000,116.0,74.000000,29.164207,155.379747,25.600000,0.201,30,0
6,3.000000,78.0,50.000000,32.000000,88.000000,31.000000,0.248,26,1
7,10.000000,115.0,72.384196,29.164207,155.379747,35.300000,0.134,29,0
8,2.000000,197.0,70.000000,45.000000,543.000000,30.500000,0.158,53,1
9,8.000000,125.0,96.000000,29.164207,155.379747,32.443404,0.232,54,1

In [156]:
from sklearn.naive_bayes import GaussianNB

nb_model = GaussianNB()
nb_model.fit(X_train, y_train.ravel())

GaussianNB(priors=None)

In [157]:
nb_predict_train = nb_model.predict(X_train)

from sklearn import metrics
print("Accuracy: {0:.4f}".format(metrics.accuracy_score(y_train, nb_predict_train)))
print()

Accuracy: 0.7552

In [158]:
nb_predict_val = nb_model.predict(X_val)

from sklearn import metrics
print("Accuracy: {0:.4f}".format(metrics.accuracy_score(y_val, nb_predict_val)))
print()

Accuracy: 0.7306

In [159]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
# evaluate an LDA model on the dataset using k-fold cross validation
model = LinearDiscriminantAnalysis()
kfold = KFold(n_splits=3, random_state=7)
result = cross_val_score(model, X_train, y_train, cv=kfold, scoring='accuracy')
print(result.mean())

0.776041666667

/usr/local/src/conda3_runtime/home/envs/DSX-Python35-Spark/lib/python3.5/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/src/conda3_runtime/home/envs/DSX-Python35-Spark/lib/python3.5/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/src/conda3_runtime/home/envs/DSX-Python35-Spark/lib/python3.5/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [160]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
# evaluate an LDA model on the dataset using k-fold cross validation
model = LinearDiscriminantAnalysis()
kfold = KFold(n_splits=3, random_state=7)
result = cross_val_score(model, X_val, y_val, cv=kfold, scoring='accuracy')
print(result.mean())

0.751201923077

/usr/local/src/conda3_runtime/home/envs/DSX-Python35-Spark/lib/python3.5/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/src/conda3_runtime/home/envs/DSX-Python35-Spark/lib/python3.5/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/src/conda3_runtime/home/envs/DSX-Python35-Spark/lib/python3.5/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)